.projects-wrapper{
    height: 15rem;
    margin-top: 3rem;
    font-size: 0.4rem;
    background: green;
}

.projects-wrapper H1{
    margin-left: 0.5rem;
}


.project-img-div{
    
}

.project-description{
    
}