
.blog-post-update-div{
    /* background-color: rgb(65,156,218); */
    background-color: rgb(181,87,153);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100vw; */
    height: 4rem;
    line-height: 1.2rem;

}

.blog-post-update-div p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: larger; */
    /* background: red; */
    /* font-size: 0.7rem; */
    /* font-weight: bold; */
    /* padding: ; */
        margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* background: red; */
    letter-spacing: 1px;
}

.navigation-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    /* background: yellow; */
}

.site-logo{
    margin-left: 0.5rem;
    color: rgb(168, 12, 121);
    font-weight: 1000;
    text-decoration : none;
}



nav{
    display: flex;
    justify-content:space-between;
    gap: 0.5rem;
    align-items: center;
    margin-right: 0.5rem;
    /* background: green; */
}

nav a{
    color: black;
    text-decoration: none;
    /* border-bottom: 1px solid red; */
}